<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>にこにこ掲示板</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div id="menu" v-cloak>
        <div class="header">
            <h1>にこにこ掲示板☺</h1>
            <p class="subtitle">匿名でなかよくお話ししよう |:3ミ</p>
        </div>

        <div id="form">
            <div v-if="show_form">
                <form v-on:submit.prevent="post">
                    <div>
                        <!--                    <label>name</label>-->
                        <input type="text"
                               v-model="author"
                               placeholder="ななしのぺんぎん">
                    </div>
                    <div>
                        <!--                    <label>comment</label>-->
                        <textarea row="5"
                                  v-model="comment"
                                  placeholder="...">
                    </textarea>
                    </div>
                    <div>
                        <input type="file" @change="upload">
                    </div>
                    <button type="submit">Post</button>
                    <div id="post_log">{{ post_log }}</div>
                </form>
            </div>
            <div v-else="show_form" class="cover">
                <button v-on:click="awake_form">投稿してみる！</button>
            </div>
        </div>

        <button id="page_top" @click="scrollTop">
            ▲
        </button>
    </div>


    <div id="main" v-cloak>
        <div id="comments">
            <div>
                {{ count }} 件のコメント
            </div>

            <div class="body">
                <div v-for="(doc, index) in docs()"
                     :key="doc.name"
                     class="comment"
                >
                    <div class="author">
                        <small>name :</small>
                        <b>{{ doc.content.author }}</b>

                        <span class="meta">
                        <small class="date">
                            {{ toDate(doc.content.create_at) }}
                        </small>
                    </span>
                    </div>

                    <div class="content">{{ doc.content.comment.replace(/\\n/g,'\n') }}</div>
                    <div class="image-container" v-if="has_image(doc)">
                        <img :src="doc.content.image_path" alt="">
                    </div>
                </div>
            </div>


            <div v-show="loading">
                よみこんでいるよ
            </div>
        </div>

        <ul id="pagination">
            <li v-on:click="movePage(page)"
                style="width: 10em;"
                class="page">
                read more
            </li>
        </ul>
    </div>


    <div class="footer">
        <small>Powered By 'P' Engine</small>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
    <script type="module" src="./config.js"></script>
    <script type="module" src="./main.js"></script>

</body>
</html>
