body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
}

#form {
  width: 300px;
  max-width: 80%;
  display: grid;
  place-items: center;

  form {
    width: 100%;
    display: grid;
    place-items: center;

    div, textarea, div input{
      width: 100%;
    }
  }
}

#menu {
  display: grid;
  place-items: center;
  padding: 2em;
}

.comment {
  background-color: white;
  width: 80%;
  max-width: 700px;
  padding: 1em;
  margin: 0em .5em;
  border: solid gray;
  border-width: 0px 1px 1px;
  border-radius: .1em;

  &:first-child {
    border-top-width: 1px !important;
  }
}

.author {
  margin: 0.2em;
}

.content {
  margin: 0.2em;
}

#main {
  margin: auto;
  padding: 2em 0;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
}