@charset "UTF-8";
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif; }

#pagination {
  list-style: none;
  margin: 1em;
  padding: 0; }
  #pagination li {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    border: 1px #ccc solid;
    border-radius: 5px; }
    #pagination li:hover {
      border-color: grey; }

.header {
  display: grid;
  place-items: center; }

button {
  margin: 0.5em auto;
  padding: 0.6em 1.4em;
  font-size: .8em;
  text-align: center;
  border: 1px #ccc solid;
  border-radius: 5px;
  background-color: white;
  transition: all 150ms ease;
  color: #222; }
  button:hover {
    background-color: #61a83a;
    color: white;
    border-color: #94cb5d; }

#form {
  width: 300px;
  max-width: 80%;
  display: grid;
  place-items: center;
  margin: 1em; }
  #form form {
    width: 100%;
    display: grid;
    place-items: center; }
    #form form div, #form form textarea, #form form div input {
      width: 100%; }
    #form form div {
      margin: 0.2em; }
    #form form input, #form form textarea {
      font-size: 16px;
      padding: 10px 15px;
      /*ボックスを大きくする*/
      border-radius: 3px;
      /*ボックス角の丸み*/
      border: 2px solid #ddd;
      /*枠線*/
      box-sizing: border-box;
      /*横幅の解釈をpadding, borderまでとする*/ }
  #form #post_log {
    font-size: 0.8em;
    text-align: center; }

#menu {
  background-color: white;
  display: grid;
  place-items: center;
  padding: 1em;
  border-Top: solid #61a83a;
  border-bottom: solid #e7e7e7; }
  #menu h1 {
    border-bottom: dashed #61a83a;
    line-height: 1.4;
    margin-bottom: 0; }
  #menu .subtitle {
    margin-top: 0.5em;
    font-size: 0.8em; }

#page_top {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  width: 3.5em;
  height: 3.5em;
  padding: 0;
  line-height: 1;
  font-size: 1em;
  text-align: center;
  border-radius: 2em;
  border-color: #94cb5d;
  background: #61a83a;
  color: white;
  box-shadow: 2px 2px 8px #80808082; }

.comment {
  background-color: white;
  width: 80%;
  max-width: 620px;
  padding: 1em;
  margin: 0em .5em;
  border: solid gray;
  border-width: 0px 1px 1px;
  border-radius: .1em; }
  .comment:first-child {
    border-top-width: 1px !important; }
  .comment small {
    color: green; }
  .comment .content {
    white-space: pre-line; }

.author, .content {
  margin: 0.2em; }

#main {
  margin: auto;
  padding: 2em 0;
  display: grid;
  place-items: center;
  background-color: whitesmoke; }

#comments {
  width: 100%;
  display: grid;
  place-items: center; }

.footer {
  padding: 2em;
  background-color: grey;
  color: white;
  display: grid;
  place-items: center; }
